@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-normal {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared styles  */

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

.display-flex {
    display: flex;
}

.btn-primary {
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #FF900E;
    color: white;
    padding: 20px 24px;
    border: none;
    border-radius: 8px;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);

}

/* dark-3 */
.text-light-gray {
    color: #727272;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}



/* navbar styles  */
.banner,
.navbar {
    max-width: 1440px;
    margin: 0 auto;
}


.navbar {
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    list-style: none;
    margin-right: 30px;


}

.nav-link {
    text-decoration: none;
    color: black;
}

/* banner styles  */


.banner-title {
    font-size: 4rem;
    font-weight: 800;
}

.banner-image {
    max-width: 100%;
}

.banner-content {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.teams {
    align-items: center;
    gap: 80px;
}

.team-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.quick-list {
    max-width: 530px;
    align-content: center;

}

#quick-list {
    color: #727272;
    font-weight: 500;
}

#Features {
    color: #FF900E;
    /* font-weight: 700; */
}

/* features section styles  */
.features {
    gap: 140px;
}

.featured-content {
    width: 700px;
}

.feature-card {
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}

#features-section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.featured-architect img {
    width: 100%;
}

#experience-badge {
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}

#experience-year {
    font-size: 4rem;
    font-weight: 800;
}

.facts-container {
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-around;
}

.fact-card {
    border: 1px solid #FF900E;
    width: 200px;
    height: 200px;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
}

.fact-icon {
    margin-top: 10px;
}

.fact-number {
    margin-bottom: 10px;
    font-size: 2.8rem;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name {
    margin-top: 10px;
    font-size: 1.25rem;
    font-weight: 500px;
}

.fact-description {
    width: 540px;
}

/* sponsor styles  */
.sponsor-content{
    max-width: 542px;
    margin: 0 auto;
    align-content: center;
    text-align: center;
}

.sponsor-container{
    margin-top: 50px;
    gap: 150px;
    filter: grayscale(100%);

}

footer{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 200px;
}

.footer-content{
    border: 1px solid tomato;
    max-width: 100%;
    height: fit-content;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    color: #424242;
}






/* Responsive media queries for mobile  */

@media screen and (max-width:576px) {

    .navbar,
    .nav-links,
    .teams,
    .features,
    .facts-container, 
    .sponsor-container {
        flex-direction: column;
    }
    .banner-image {
        max-width: 100%;
    }


    .team-image-container{
        grid-template-columns: 1fr;
        max-width: 100%;
    }
    .fact-card{
        margin-bottom: 10px;
    }


    .featured-content, 
    .fact-description, 
    .fact-card{
        width: 100%;
    }

    #experience-badge {
        margin: 0 auto;

    }
    .sponsor-container{
        margin: 0 auto;
        margin-top: 20px;

    }
    

}

/* Responsive media queries for medium devices */

@media screen and (min-width:577px) and (max-width:992px) {

    .navbar,
    .nav-link, 
    .teams,
    .features {
        flex-direction: column;
    }
    #experience-badge {
        margin: 0 auto;
       }
    .some-facts{
        padding: 20px;
    }
    .facts-container,
    .sponsor-container {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 10px;
    }
  
    
}